/* Global CSS */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto','sans-serif';
    color:black;
    background-color: #F5F5F5;
}

input{
    border: none;
    outline: none;
}

section,main,footer{
    padding: 30px 0;
}

a, a:visited {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

.is-size-1 {
    font-size: 3rem !important;
}
.is-size-2 {
    font-size: 2.5rem !important;
}
.is-size-3 {
    font-size: 2rem !important;
}
.is-size-4 {
    font-size: 1.5rem !important;
}
.is-size-5 {
    font-size: 1.25rem !important;
}
.is-size-6 {
    font-size: 1rem !important;
}
.is-size-7 {
    font-size: 0.75rem !important;
}

.is-flex{
    display: flex !important;
}

.has-flex-wrap{
    flex-wrap: wrap !important;
}

.has-background-black{
    background-color: black !important;
    color: white !important;
}
.has-background-white{
    background-color: white !important;
    color: black !important;
}

.has-text-centered{
    text-align: center !important;
}

.p-1 {
    padding: 0.75rem !important;
}

.has-text-grey{
    color: #7A7A7A !important;
}


/* Global CSS Ends */
.container{
    height: auto;
    width:90%;
    /* background-color: red; */
    margin: 0 auto;
}

.header{
    height: 70px;
    width:100%;
    background-color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero{
    /* height:400px; */
    width:100%;
    /* background-color: yellowgreen; */
}

.main-content{
    display: flex;
    flex-wrap: wrap;
}

.left{
    height:400px;
    width:70%;
    /* background-color: coral; */
}

.right{
    /* height:400px; */
    width:30%;
    /* background-color: dodgerblue; */
}

.related{
    height:400px;
    width:100%;
    background-color: forestgreen;
}

.footer{
    height:400px;
    width:100%;
    background-color: fuchsia;
}

/* Navbar Styles */

.brand-logo{
    height:70px;
}

.nav-items{
    display: flex;
    align-items: center;
    /* margin-right: 4rem; */
}

.nav-items li {
    padding:10px 15px;
    
}

.nav-items li > a:hover{
    color: #ff6600;
    transition: 1.5s;
}


/* Banner */
.banner{
    display: flex;
}

.banner-content{
    width: 60%;
}

.banner-text-container{
    width:80%;
    padding-bottom: 30px;
    /* height:150px; */
    /* background-color: yellow; */
}

.banner-img{
    width: 40%;
}

.banner-img img{
    width: 100%;
}

.banner-title-container{
    /* padding:10px; */
    /* background-color: white; */
}

/* Progress Bar */
.banner-progress-container{
    border-bottom: 1px solid lightgray;
}
.progress-text{
    display: inline-block;
}

.progress-bar-container{
    position: relative;
}

.banner-progress-bar{
    height: 35px;
    width: 100%;
}

.banner-progress-bar-text{
    position: absolute;
    top:7px;
    left: 50%;
}

/* Banner Link */
.banner-links{
    gap:10px;
}
.banner-link-btn{
    padding: 10px 25px;
    border: 1px solid black;
    width: fit-content;
    border-radius: 20px;
}

.link-container{
    margin-right: 15px;
}

.link-title{
    padding: 10px 0;
}

/* Main Content */
/* Right */
.right img{
    width:100%;
}

/* Left */
.main-text-container, .main-search-container{
    width:50%;
}

.search-bar{
    background-color:white;
    color: grey;
    border-radius: 25px;
}

.search-bar > input :active{
   outline:none;
   border: none;
}
.main-heading-title{
    padding-left:10px;
}